bcrypt==3.1.7
certifi==2020.4.5.1
cffi==1.14.0
chardet==3.0.4
cryptography==2.9.2
docutils==0.16
idna==2.9
Kivy==1.11.1
kivy-deps.glew==0.1.12
kivy-deps.sdl2==0.1.23
Kivy-Garden==0.1.4
passlib==1.7.2
phonenumbers==8.12.5
Pillow==7.1.2
pycparser==2.20
Pygments==2.6.1
PyJWT==1.7.1
pypiwin32==223
pytz==2020.1
pywin32==227
requests==2.23.0
six==1.15.0
twilio==6.41.0
urllib3==1.25.9
